table {
  width: 100%;
  margin: 2rem auto;
  padding: 0; 
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  transition: box-shadow 0.3s ease;
}

table:hover {
  box-shadow: 0 8px 16px rgba(211, 47, 47, 0.3);
}

th {
  background-color: #eb0000;
  color: #fff;
  padding: 14px;
  font-size: 1.1rem;
  text-align: left;
  text-transform: uppercase;
}

td {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  background-color: #fff;
  color: #333;
  text-align: left;
}

tr:nth-child(even) td {
  background-color: #ffe5e5;
}

tr:last-child td {
  border-bottom: none;
}
 #pagination {
   margin-top: 20px;
  text-align: center;
}

#pagination .page-btn {
  padding: 5px 10px;
  margin: 0 3px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

#pagination .page-btn:hover {
  background-color: #ddd;
}
.container {
  background-color: #f0f0f0; 
  padding: 0px;
  max-width: 90%;
  margin: 20%;          
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex; 
  justify-content: center;
}
.container h1{
  font-style: italic;
  font-weight: bold;
}
.image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image img {
  margin: 0px;
  display: block;
  width: 100%;
}

.business-permit-table h1, h2{
  text-align: center;
}
.green{
  color: #11A679;
}
.paginationTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10% 40px 10%;
  font-family: 'Poppins', sans-serif;
}

.pagination-buttons {
  display: flex;
  gap: 10px; /* spacing between buttons */
}

.pageTable {
  background-color: #f8f8f8;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 14px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pageTable:hover {
  background-color: #ddd;
}

.pageTable.active {
  background-color: #eb0000;
  color: #ffffff;
  border-color: #eb0000;
  font-weight: bold;
}
#count {
  font-weight: bold;
}