table {
  width: 90%;
  margin: 2rem auto;
  padding: 0px; 
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  table-layout: fixed;
}

#permitTable th:first-child,
#permitTable td:first-child {
  width: 75%; /* Business column */
}

#permitTable th:nth-child(2),
#permitTable td:nth-child(2) {
  width: 25%; /* Price column */
}

table:hover {
    box-shadow: 0 0 50px rgba(142, 136, 136, 0.5);
    transform: scale(1);
}

th {
  font-size: 24px;
  background-color: #eb0000;
  color: white;
  padding: 14px;
  text-align: left;
  text-transform: uppercase;
}

td {
  font-size: 18px;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  background-color: #fff;
  text-align: left;
}

tr:nth-child(even) td {
  background-color: #EAEAEA;
}

tr:last-child td {
  border-bottom: none;
}

#pagination {
  margin-top: 20px;
  text-align: center;
}

#pagination .page-btn {
  padding: 5px 10px;
  margin: 0 3px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

#pagination .page-btn:hover {
  background-color: #ddd;
}
.container {
  background-color: #f0f0f0; 
  padding: 0px;
  max-width: 90%;
  margin: 6%;  
  margin-top: 15%;  
  margin-bottom: 12%;      
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex; 
  justify-content: center;
}

.container h1{
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0px;
}

.container h2{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image img {
  margin: 0px;
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.business-permit-table h1, h2{
  text-align: center;
}
.green {
  color: #04AA6D;
}
.paginationTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10% 40px 10%;
  font-family: 'Poppins', sans-serif;
}

.pagination-buttons {
  display: flex;
  gap: 10px; /* spacing between buttons */
  font-size: 24px;
}

.pageTable {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 8px 14px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pageTable:hover {
  background-color: #ddd;
}

.pageTable.active {
  background-color: #eb0000;
  color: white;
  border-color: #eb0000;
  font-weight: bold;
}

#count {
  font-size: 16px;
}