.business-permit-steps {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.business-permit-steps h2 {
    font-size: 3vw;
    text-align: center;
    border-top: 4px solid #e60000;
    border-collapse: collapse;
}

.steps-wrapper {
    counter-reset: step;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.steps {
    counter-increment: step;
    background-color: #f0f0f0;
    padding: 2rem;
    width: 50rem;
    position: relative;
}

/* Step Number Circle */
.steps ::before {
    content: counter(step);
    position: absolute;
    left: -8.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    background-color: #e60000;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.steps h3 {
    font-size: 1.8vw;
    margin-top: 0rem;
    margin-bottom: 3rem;
}

.steps p {
    font-size: 1.2vw;
}