.web-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background-image: url('/Images/banner-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.web-banner h1 {
    font-size: 8vw;
    margin: 0;
}

.web-banner p {
    font-size: 2vw;
    margin-top: 2vw;
}

.red-highlight {
    color: #eb0000;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
    background-color: #eb0000;
    border-radius: 50vw;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contact-btn p {
    font-size: 1.5vw;
    padding: 1vw 2vw;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
}

.contact-btn:hover {
    background-color: #B3291B;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    cursor: pointer;
}